// ------------------------------------------
// * 主题色
// ------------------------------------------
// $theme-primary: ;
// $theme-primary-light: ;

// ------------------------------------------
// * 功能色
// ------------------------------------------
// $theme-success: ;
// $theme-info: ;
// $theme-warning: ;
// $theme-danger: ;

// ------------------------------------------
// * 文本颜色
// ------------------------------------------
$text-color-primary: #f40;
$text-color-success: #88B04B;
$text-color-fail: #dd524d;
// $text-color-secondary: ;

// ------------------------------------------
// * 文本大小
// ------------------------------------------
// $text-size-base: 24px;
// $text-size-small: 16px;
